<h1>All articles</h1>
    <ul>
       
            <% @article.each do |t| %>
             <li>
                <p>
                    title: <%= t.title %>
                </p>
                <p>
                    description: <%= t.description%>
                </p>
                <%= link_to 'edit article', edit_article_path(t.id)%>
                <br>
                 _____________________________________
                 </li>
            <% end %>       
        
    </ul>