<h1>This page is to show article</h1>

<p>title: <%= @article.title %> </p>
<p>description: <%= @article.description %>
<br><br>
<%= link_to 'edit', edit_article_path%>
<%= link_to 'view all articles', articles_path %>